<section class="header-section" [class.sticky]="isHeaderSticky" clickOutside (clickOutside)="onClickOutside($event)">
  <button class="header-section__close-btn d-none" (click)="onToggleHeaderButtonClick()">
    {{isHeaderVisible ? 'X' : '+'}}
  </button>
  <header class="container" [class.active]="isMenuVisible" [class.hidden]="!isHeaderVisible" [class.transparent]="!isMenuVisible && !isHeaderSticky && isHeaderTransparent">
    <div class="row align-items-center header">
      <div class="col-lg-3 col-md-5 col-9">
        <div class="header__logo">

          <a routerLink="">
            <div class="logo-text">
                <div class="logo-text__main">Braharchuk</div>
                <div class="logo-text__secondary">architects</div>
            </div>
          </a>

          <!-- <a routerLink="">
            <img *ngIf="isMenuVisible || isHeaderSticky || !isHeaderTransparent" class="logo-image" src="{{defaultEnvironment.baseUrl}}assets/img/manufactura-logo-white.png" alt="">
            <img *ngIf="!isMenuVisible && !isHeaderSticky && isHeaderTransparent" class="logo-image" src="{{defaultEnvironment.baseUrl}}assets/img/manufactura-logo-white.png" alt="">
          </a> -->
        </div>
      </div>
      <div class="d-none d-md-block col-md-5 col-lg-7">
        <div class="header__adds-list">
          <div class="header__call-us d-none d-lg-flex">
            <span class="header__text-for-call d-none d-md-inline">{{'CallUs' | translate}}</span>
            <a class="header__back-call" href="javascript:void(0);">+38 (063) 241 27 23</a>
          </div>

          <div class="header-delimiter d-none d-lg-flex"></div>

          <app-social-list [data]="socialList" [className]="!isMenuVisible && !isHeaderSticky && isHeaderTransparent ? 'footer' : 'regular'"></app-social-list>
        </div>
      </div>
      <div class="col-2">
        <div class="text-right">
          <div class="header__menu-button-wrapper" >
            <button class="header__menu-button" [class.active]="isMenuVisible" (click)="onToggleMenuButtonClick()">
              <span class="header__menu-button-line"></span>
              <span class="header__menu-button-line"></span>
              <span class="header__menu-button-line"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row header__container" [class.active]="isMenuVisible">
      <div class="header__menu-bubble"></div>
      <div class="header__menu-content">
        <div class="header__language-switcher">
          <ul class="language-switch">
            <li><mat-icon>language</mat-icon></li>
            <li><a class="link-more" [class.is-active]="checkCurrentLang('en')" (click)="setLang('en')">ENG</a></li>
            <li><a class="link-more" [class.is-active]="checkCurrentLang('ua')" (click)="setLang('ua')">UA</a></li>
            <li><a class="link-more" [class.is-active]="checkCurrentLang('ru')" (click)="setLang('ru')">RU</a></li>
          </ul>
        </div>
        <ul class="header__menu-list">
          <h3 class="headline-text headline-text--footer">{{'ExploreUs' | translate}}</h3>
          <li><a class="link-more" routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/">{{'Home' | translate}}</a></li>
          <li><a class="link-more" routerLinkActive="is-active" routerLink="/about">{{'AboutUs' | translate}}</a></li>
          <li><a class="link-more" routerLinkActive="is-active" routerLink="/projects-all">{{'AllProjects' | translate}}</a></li>
          <li><a class="link-more" routerLinkActive="is-active" routerLink="/services">{{'OurServices' | translate}}</a></li>
        </ul>
        <ul class="header__menu-list">
          <h3 class="headline-text headline-text--footer">{{'ContactUs' | translate}}</h3>
          <li><a class="link-more" routerLinkActive="is-active" routerLink="/contacts">{{'Contacts' | translate}}</a></li>
        </ul>
        <ul class="header__menu-list">
          <h3 class="headline-text headline-text--footer">{{'Information' | translate}}</h3>
          <!--<li><a class="link-more" routerLinkActive="is-active" routerLink="/career">{{'Career' | translate}}</a></li>-->
          <li><a class="link-more" routerLinkActive="is-active" routerLink="/help">{{'Help' | translate}}</a></li>
          <li><a class="link-more" routerLinkActive="is-active" routerLink="/privacy-policy">{{'PrivacyPolicy' | translate}}</a></li>
        </ul>
        <ul class="header__menu-list">
          <h3 class="headline-text headline-text--footer">{{'Social' | translate}}</h3>
          <app-social-list [data]="socialList" [isOnlyText]="socialListStyles" className="only-text"></app-social-list>
        </ul>
        <div class="header__reserved-info">
          <div class="footer__copyright">
            © Copyright 2010-2018, {{'CopyrightDescription' | translate}} |
            <a class="link-more is-active" routerLinkActive="is-active" routerLink="/privacy-policy">{{'PrivacyPolicy' | translate}}</a>
          </div>
        </div>
      </div>
    </div>
  </header>
</section>