<section class="header-section" [class.sticky]="isHeaderSticky">
  <header class="container" [class.active]="isMenuVisible">
    <div class="row align-items-center header">
      <div class="col-lg-3 col-md-12 col-10">
        <div class="header__logo">
          <a routerLink="/">
            <span class="logo-cutted">
              manufactura
          </span>
          </a>
        </div>
      </div>
      <div class="d-none d-md-block col-md-11 col-lg-8">
        <div class="header__adds-list">
          <div class="header__call-us d-none d-sm-flex">
            <span class="header__text-for-call d-none d-md-inline">Call us:</span>
            <a class="header__back-call" href="javascript:void(0);">0 (800) 400 500 12</a>
          </div>

          <div class="header-delimiter d-none d-md-flex"></div>

          <app-social-list></app-social-list>
        </div>
      </div>
      <div class="col-2 col-md-1">
        <div class="text-right">
          <div class="header__menu-button-wrapper" >
            <button class="header__menu-button" [class.active]="isMenuVisible" (click)="onToggleMenuButtonClick()">
              <span class="header__menu-button-line"></span>
              <span class="header__menu-button-line"></span>
              <span class="header__menu-button-line"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row header__container" [class.active]="isMenuVisible">
      <div class="header__menu-bubble"></div>
      <div class="header__menu-content">
        <ul class="header__menu-list">
          <li>Explore us</li>
          <li><a class="link-more" routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }" routerLink="">Home</a></li>
          <li><a class="link-more" routerLinkActive="is-active" routerLink="about">About</a></li>
          <li><a class="link-more" routerLinkActive="is-active" routerLink="projects-all">All Projects</a></li>
        </ul>
        <ul class="header__menu-list">
          <li>Contact us</li>
          <li><a class="link-more" routerLinkActive="is-active" routerLink="contact">Contacts</a></li>
          <li><a class="link-more" routerLinkActive="is-active" routerLink="location">Our Location</a></li>
        </ul>
        <ul class="header__menu-list">
          <li>Information</li>
          <li><a class="link-more" routerLinkActive="is-active" routerLink="career">Career</a></li>
          <li><a class="link-more" routerLinkActive="is-active" routerLink="help">Help</a></li>
          <li><a class="link-more" routerLinkActive="is-active" routerLink="privacy-policy">Privacy and policy</a></li>
        </ul>
      </div>
    </div>
  </header>
</section>