<section class="top-padding-section">
  <div class="container pb-5">
    <div class="row">
      <div class="col-12 col-sm-4">
        <div class="header-text pb-5">
          <h2>{{'OurServices' | translate}}</h2>
        </div>
      </div>
      <div class="col-12 col-sm-8">
        <div class="p">

        </div>
      </div>
    </div>

    <div class="row pb-3">
      <div class="col-12 col-sm-4">
        <div class="services__image-wrapper">
          <img class="services__image" src="./../../../assets/img/company.svg" alt="">
        </div>
      </div>
      <div class="col-12 col-sm-8">
        <h5 class="headline-text headline-text--regular-h5">{{'ArchitecturalDesign' | translate}}</h5>
        <p class="">{{'ArchitecturalDesignDescription' | translate }}</p>
        <ul>
          <li>{{'FirstDescription' | translate}}</li>
          <li>{{'SecondDescription' | translate}}</li>
          <li>{{'ThirdDescription' | translate}}</li>
        </ul>
      </div>
    </div>

    <div class="row pb-3">
      <div class="col-12 col-sm-4">
        <div class="services__image-wrapper">
          <img class="services__image" src="./../../../assets/img/interior-design-1.svg" alt="">
        </div>
      </div>
      <div class="col-12 col-sm-8">
        <h5 class="headline-text headline-text--regular-h5">{{'InteriorDesign' | translate}}</h5>
        <p class="">{{'InteriorDesignDescription' | translate}}</p>

        <ul>
          <li>{{'FirstDescription' | translate}}</li>
          <li>{{'SecondDescription' | translate}}</li>
          <li>{{'ThirdDescription' | translate}}</li>
        </ul>
      </div>
    </div>

    <div class="row pb-3">
      <div class="col-12 col-sm-4">
        <div class="services__image-wrapper">
          <img class="services__image" src="./../../../assets/img/construction.svg" alt="">
        </div>
      </div>
      <div class="col-12 col-sm-8">
        <h5 class="headline-text headline-text--regular-h5">{{'PlanningApplication' | translate}}</h5>
        <p class="">{{'PlanningApplicationDescription' | translate}}</p>


        <ul>
          <li>{{'FirstDescription' | translate}}</li>
          <li>{{'SecondDescription' | translate}}</li>
          <li>{{'ThirdDescription' | translate}}</li>
        </ul>
      </div>
    </div>

    <div class="row pb-3">
      <div class="col-12 col-sm-4">
        <div class="services__image-wrapper">
          <img class="services__image" src="./../../../assets/img/architect.svg" alt="">
        </div>
      </div>
      <div class="col-12 col-sm-8">
        <h5 class="headline-text headline-text--regular-h5">{{'CreateAndConstruct' | translate}}</h5>
        <p class="">{{'CreateAndConstructDescription' | translate}}</p>


        <ul>
          <li>{{'FirstDescription' | translate}}</li>
          <li>{{'SecondDescription' | translate}}</li>
          <li>{{'ThirdDescription' | translate}}</li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-4">
        <div class="header-text pb-5">
          <h2>{{'Prices' | translate}}</h2>
        </div>
      </div>
      <div class="col-12 col-sm-8">
        <div class="p">

        </div>
      </div>
    </div>

    <div class="row pb-2">
      <div class="col-12 col-sm-4">
        <div class="mx-5">
          <a class="services__download-link"
            href="{{defaultEnvironment.baseUrl}}/assets/downloads/manufactura_prices.pdf"
            download="manufactura-prices">{{'Download' | translate}} RU</a>
        </div>
      </div>
      <div class="col-12 col-sm-8">
        <div class="p">
          {{'PriceDescriptionRU' | translate}}
        </div>
      </div>
    </div>

    <div class="row pb-2">
      <div class="col-12 col-sm-4">
        <div class="mx-5">
          <a class="services__download-link"
            href="{{defaultEnvironment.baseUrl}}/assets/downloads/manufactura_prices.pdf"
            download="manufactura-prices">{{'Download' | translate}} UA</a>
        </div>
      </div>
      <div class="col-12 col-sm-8">
        <div class="p">
          {{'PriceDescriptionUA' | translate}}
        </div>
      </div>
    </div>

    <div class="row justify-content-center pb-5 pt-5">
      <div class="col-12">
        <div class="text-center mb-5">
          <h3 class="about__apply-header">{{'Feedback' | translate}}</h3>
        </div>
      </div>
      <div class="col-9">
        <div class="text-center mb-5">
          <p>{{'FeedbackFirstDescription' | translate}}</p>
          <p class="d-none">{{'FeedbackSecondDescription' | translate}}</p>
        </div>
        <div class="text-center">
          <a routerLink="/contacts" class="link-button">{{'ContactUs' | translate}}</a>
        </div>
      </div>
    </div>

  </div>
</section>