@import "../../../assets/scss/variables";
@import "../../../assets/scss/components";

.top-padding-section {
  padding-top: 200px;

  @media (max-width: 576px) {
    padding-top: 90px;
  }
}

.services {
  &__image-wrapper {
    background-color: var(--main-black);
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 15px;
    height: 130px;
    width: 130px;
  }
  &__image {
    filter: invert(1);
    width: 80px;
  }
  &__download-link {
    color: $main-red;

    &:hover {
      color: lighten($main-red, 20);
    }
  }
}
