/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.slick-dots {
    display: flex;
    margin: 30px 0;
    padding: 0;
    justify-content: center;
    align-items: center; }
.slick-dots li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0 4px; }
.slick-dots li button {
    font-size: 0;
    line-height: 0;
    color: transparent;
    border: none;
    border-radius: 2px;
    outline: none;
    width: 16px;
    height: 16px; }
.slick-dots li button:hover {
    cursor: pointer; }
.slick-dots li.slick-active button {
    background-color: #e41e1b; }

.slick-slider .slick-slide {
    outline: none; }

app-root {
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
}
body.hide-overflow {
    overflow: hidden;
}
