/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

app-root {
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
}

body {

}

body {
    /*Dark theme*/
    background-color: #1a1a1a;
    color: white;
    /*Light theme*/
    /*background-color: white;*/
    /*color: inherit;*/
}

app-projects-all {
    display: flex;
    flex: 1 1 100%;
}

app-footer {
    margin-top: auto;
}

body.hide-overflow {
    overflow: hidden;
}

@media (max-width: 992px) {
    body.hide-overflow {
        overflow: hidden;
    }
}
