@import "../../../../../assets/scss/variables";
@import "../../../../../assets/scss/components";

.top-padding-section {
  padding-top: 170px;

  @media (max-width: 576px) {
    padding-top: 90px;
  }
}

.example-full-width {
  width: 100%;
}

h4 {
  cursor: pointer;
  &:hover {
    color: $main-red;
  }
}