<section class="top-padding-section">
  <div class="container">
    <div class="row">
      <app-edit-content-navbar></app-edit-content-navbar>
    </div>
    <div class="row pt-3">
      <div class="col-12 col-md-6 mb-3">
        <mat-card>
          <mat-list>
            <h3 matSubheader>Projects list: </h3>

            <mat-progress-spinner class="m-auto" *ngIf="!allProjects" mode="indeterminate"></mat-progress-spinner>

            <mat-list-item *ngFor="let project of allProjects">
              <mat-icon matListIcon [color]="project === selectedProject ? 'warn' : ''">note</mat-icon>
              <h4 matLine (click)="onSelect(project)"> {{project.header}}</h4>
              <p matLine class="demo-2">id: {{project.id}}, category: {{project.category}}</p>
              <button mat-button color="warn" class="ml-auto" (click)="removeProject(project.id)">
                <mat-icon>close</mat-icon>
              </button>
              <mat-divider></mat-divider>
            </mat-list-item>
          </mat-list>

          <button mat-button class="mt-3" color="primary" (click)="createNewProject()">Add new project</button>
        </mat-card>
      </div>

      <div class="col-12 col-md-6 mb-3">
        <mat-card *ngIf="selectedProject">

          <mat-card-header>
            <img mat-card-avatar [src]="selectedProject.images[0].image">
            <mat-card-title>{{selectedProject.header | uppercase}}</mat-card-title>
            <mat-card-subtitle>id: {{selectedProject.id}}</mat-card-subtitle>
          </mat-card-header>

          <div>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Name" [(ngModel)]="selectedProject.header">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-select [(value)]="selectedProject.category">
                <mat-option value="not selected">none</mat-option>
                <mat-option value="buildings">buildings</mat-option>
                <mat-option value="interiors">interiors</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <input
              matInput
              placeholder="Select date"
              [min]="minDate"
              [max]="maxDate"
              [matDatepicker]="picker3"
              [value]="deserializeDate(selectedProject.date)">
              <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
              <mat-datepicker #picker3></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Description" [(ngModel)]="selectedProject.description"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Full Description" [(ngModel)]="selectedProject.fullDescription"></textarea>
            </mat-form-field>
            <label>Images:
              <span>{{selectedProject.images | json}}</span>
            </label>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Link" [(ngModel)]="selectedProject.link">
            </mat-form-field>

            <button mat-button class="mt-3" color="primary" (click)="updateProject(selectedProject)">update</button>
          </div>

        </mat-card>
      </div>
    </div>
  </div>
</section>
