.icon {
    width: 20px;
    height: 20px;
    display: block;
    background-size: cover;

    &-google-plus {
        background: url('../img/social/google-plus-social-logotype.png') center no-repeat;
        background-size: 18px 18px;
    }
    &-facebook {
        background-image: url('../img/social/facebook-logo.png');
    }
    &-twitter {
        background-image: url('../img/social/twitter-social-logotype.png');
    }
    &-instagram {
        background-image: url('../img/social/instagram-social-network-logo-of-photo-camera.png');
    }
    &-pinterest {
        background-image: url('../img/social/pinterest-social-logo.png');
    }
    &-youtube {
        background-image: url('../img/social/youtube-symbol.png');
    }
}

.header-delimiter {
    width: 0;
    height: 50px;
    position: relative;
    &:after {
        content: '';
        width: 1px;
        height: 100%;
        background-color: $main-grey;
        position: absolute;
        top: 0;
    }

    @media (max-width: 992px) {
        height: 30px;
    }
}

.header-text {
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    h2 {
        margin: 0;
        padding: 0;
        font-size: $middle-font;
        font-weight: 600;
        text-transform: uppercase;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            background-color: $main-red;
            width: 100px;
            height: 2px;
            bottom: -2px;
            left: 0;
        }
    }
    a {
        font-size: $xs-font;
        text-transform: uppercase;
        color: $secondary-black;
    }
}

.headline-text {
    font-size: $xl-font;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.link-button {
    display: flex;
    padding: 15px 30px;
    text-align: center;
    background-color: $main-black;
    color: $main-white;
    text-transform: uppercase;
    transition: all 1s ease;

    &:hover {
        background-color: $main-grey;
        color: $main-white;
        text-decoration: none;
    }
}