.icon {
    width: 20px;
    height: 20px;
    display: block;
    background-size: cover;

    &-google-plus {
        background: url('../img/social/google-plus-social-logotype.png') center no-repeat;
        background-size: 18px 18px;
    }
    &-facebook {
        background-image: url('../img/social/facebook-logo.png');
    }
    &-twitter {
        background-image: url('../img/social/twitter-social-logotype.png');
    }
    &-instagram {
        background-image: url('../img/social/instagram-social-network-logo-of-photo-camera.png');
    }
    &-pinterest {
        background-image: url('../img/social/pinterest-social-logo.png');
    }
    &-youtube {
        background-image: url('../img/social/youtube-symbol.png');
    }
}
.logo-cutted {
    display: inline-block;
    overflow: hidden;
    position: relative;
    &:before {
        content: '';
        width: 2rem;
        height: 2rem;
        background-color: $main-white;
        position: absolute;
        top: -1rem;
        left: -1rem;
        display: block;
        transform: rotate(45deg);
        transform-origin: center;
    }
    &:after {
        content: '';
        width: 2rem;
        height: 2rem;
        background-color: $main-white;
        position: absolute;
        bottom: -1.3rem;
        right: -1rem;
        display: block;
        transform: rotate(45deg);
        transform-origin: center;
    }
}

.header-delimiter {
    width: 0;
    height: 50px;
    position: relative;
    &:after {
        content: '';
        width: 1px;
        height: 100%;
        background-color: $main-grey;
        position: absolute;
        top: 0;
    }

    @media (max-width: 992px) {
        height: 30px;
    }
}

.header-text {
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;

    h2 {
        margin: 0;
        padding: 0;
        font-size: $middle-font;
        font-weight: 800;
        text-transform: uppercase;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            background-color: $main-red;
            width: 100px;
            height: 2px;
            bottom: -2px;
            left: 0;
        }
    }
    a {
        font-size: $xs-font;
        text-transform: capitalize;
        color: $secondary-black;
    }

    @media (max-width: 576px) {
        flex-wrap: wrap;
        a {
            width: 100%;
        }
    }
}

.link-more {
    line-height: 1.9;

    &:hover {
        color: $main-red;
        text-decoration: none;
    }
}

.headline-text {
    font-size: $xl-font;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.link-button {
    display: flex;
    padding: 15px 30px;
    text-align: center;
    background-color: $main-black;
    color: $main-white;
    text-transform: uppercase;
    transition: all 1s ease;

    &:hover {
        background-color: $main-white;
        color: $main-red;
        text-decoration: none;
    }
}

.filter {
    &__list{
        display: flex;
        padding: 0;
        margin: auto;
        margin-right: 40px;
        align-items: flex-end;
    }
    &__item{
        display: inline-block;
        list-style: none;
        margin: auto 10px;
        a {
            font-weight: 700;
            font-size: $middle-font;
            line-height: 1;
            &:hover {
                color: $main-red;
            }
        }
        &.is-active {
            a {
                color: $main-red;
            }
        }
    }

    @media (max-width: 576px) {
        &__list {
            margin-right: 0;
        }
        &__item {
            &:last-child {
                margin-right: 0;
            }
        }
    }
    @media (max-width: 425px) {
        &__list {
            position: absolute;
            flex-direction: column;
            right: 0;
            top: 0;
        }
        &__item {
            display: block;
            margin: 0;
        }
    }
}