@import "../../../assets/scss/main";

.particles-wrapper {
  position: relative;
  padding: 60px 0;
  overflow: hidden;
  .particles-js {
    position: absolute;
    bottom: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
}