<section class="retina-size-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="slider">
                    <div class="slider__header"></div>
                    <app-headline-slider [images]="images"></app-headline-slider>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="particles-wrapper">
    <div id="particles-js" class="particles-js"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="about-us">
                    <div class="about-us__header header-text header-text--spacing">
                        <h2>About us</h2>
                        <a class="link-more" routerLink="/about">More about us</a>
                    </div>
                    <div class="about-us__text">
                        <h3 class="headline-text headline-text--spaced about-us__headline-text">
                            We are <br>
                            the most <br>
                            dedicated <br>
                            architects</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque commodi cum ipsa perferendis
                            quis sunt totam. Autem cum dolor enim facilis harum illum saepe sunt suscipit. Delectus enim
                            error temporibus!</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur in nam neque officiis
                            repellendus?</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi cum eum iure?</p>
                    </div>
                    <div class="about-us__team-link">
                        <a class="link-button" routerLink="/about">Meet our team</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="projects">
                    <div class="projects__header header-text header-text--spacing">
                        <h2>Latest projects</h2>
                        <ul class="filter__list">
                            <li class="filter__item"
                                *ngFor="let item of filters; let i = index"
                                (click)="changeCategory($event, i)"
                                [class.is-active]="i == selectedItem">{{ item.name }}</li>
                        </ul>
                        <a class="link-more" routerLink="/projects-all">View all projects</a>
                    </div>
                    <div class="projects__link-to-all-projects"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="retina-size-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <app-projects-slider [slideCategory]="slideCategoryName"></app-projects-slider>
            </div>
        </div>

        <div class="row">
            <div class="col-12 d-flex justify-content-center mb-5 mt-5">
                <a routerLink="/projects-all" class="link-button">View all projects</a>
            </div>
        </div>
    </div>
</section>

<section class="topography-patter">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="partners__header header-text header-text--spacing">
                    <h2>Our partners</h2>
                </div>
                <app-partners-slider></app-partners-slider>
            </div>
        </div>
    </div>
</section>