<section class="retina-size-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="slider">
                    <div class="slider__header"></div>
                    <app-headline-slider
                        [images]="images"
                        [fullHeightProp]="true"
                        [isSlideFaded]="true"
                        [isSlideCovered]="true">
                    </app-headline-slider>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="particles-wrapper">
    <div id="particles-js" class="particles-js"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="about-us">
                    <div class="about-us__header header-text header-text--spacing">
                        <h2>{{'AboutUs' | translate}}</h2>
                        <a class="link-more" routerLink="/about">{{'MoreAboutUs' | translate}}</a>
                    </div>
                    <div class="about-us__text">
                        <h3 class="headline-text headline-text--spaced about-us__headline-text">
                            {{texts.title[translateService.currentLang]}}
                        </h3>
                        <p>{{texts.fullText[translateService.currentLang]}}</p>
                    </div>
                    <div class="about-us__one-of-work">
                        <img class="about-us__one-of-work-background" src="{{defaultEnvironment.baseUrl}}/assets/img/sketch.png" alt="">
                        <div class="about-us__exp-badge text-headline">
                            {{'WeHave' | translate}}
                            <span class="counter">{{dateCounter('years')}}</span> {{'YearsAnd' | translate}}
                            <span class="counter">{{dateCounter('days')}}</span> {{'DaysOfExp' | translate}}
                        </div>
                    </div>
                    <div class="about-us__team-link">
                        <a class="link-button" routerLink="/about">{{'MeetOurTeam' | translate}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="projects">
                    <div class="projects__header header-text header-text--spacing">
                        <h2>{{'LatestProjects' | translate}}</h2>
                        <ul class="filter__list">
                            <li class="filter__item"
                                *ngFor="let item of filters; let i = index"
                                (click)="changeCategory($event, i)"
                                [class.is-active]="i == selectedItem">{{ item.name | translate }}</li>
                        </ul>
                        <a class="link-more" routerLink="/projects-all">{{'ViewAllProjects' | translate}}</a>
                    </div>
                    <div class="projects__link-to-all-projects"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="retina-size-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <app-projects-slider [slideCategory]="slideCategoryName"></app-projects-slider>
            </div>
        </div>

        <div class="row">
            <div class="col-12 d-flex justify-content-center mb-5 mt-5">
                <a routerLink="/projects-all" class="link-button">{{'ViewAllProjects' | translate}}</a>
            </div>
        </div>
    </div>
</section>

<section class="services-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="services">
                    <div class="services__header header-text header-text--spacing">
                        <h2>{{'OurServices' | translate}}</h2>
                        <a class="link-more" routerLink="/contacts">{{'AllServices' | translate}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <div class="services__content text-center">
                    <img class="services__image" src="./../../../assets/img/compass-BJtKoiN74.svg" alt="">
                    <h5 class="headline-text headline-text--footer">Architectural Design</h5>
                    <p class="">description of architectural design</p>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="services__content text-center">
                    <img class="services__image" src="./../../../assets/img/pencil-HkNcsoNQ4.svg" alt="">
                    <h5 class="headline-text headline-text--footer">Interior design</h5>
                    <p class="">Interior design description</p>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="services__content text-center">
                    <img class="services__image" src="./../../../assets/img/architect-SknxjoV74.svg" alt="">
                    <h5 class="headline-text headline-text--footer">Planning Applications</h5>
                    <p class="">plannig description</p>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="services__content text-center">
                    <img class="services__image" src="./../../../assets/img/family-SJxTos4X4.svg" alt="">
                    <h5 class="headline-text headline-text--footer">Create & Construct</h5>
                    <p class="">some more information</p>
                </div>
            </div>
            <div class="col-12"></div>
            <div class="col-12 col-md-9 mx-auto mt-5">
                <div class="services__content-description">
                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dicta ducimus explicabo fuga illum impedit maxime sint voluptates. Adipisci amet aspernatur debitis delectus ea exercitationem, fuga fugiat illum in ipsum laboriosam natus odio pariatur qui, quidem suscipit totam velit vitae?</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cumque odit porro possimus
                            tempore vel voluptas?</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate delectus doloremque libero
                            non quas, quibusdam reprehenderit? Ab autem eum itaque voluptatum.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center mb-5 mt-5">
                <a routerLink="/contacts" class="link-button">{{'ViewAllServices' | translate}}</a>
            </div>
        </div>
    </div>
</section>

<section class="clients-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="partners__header header-text header-text--spacing">
                    <h2>{{'OurClients' | translate}}</h2>
                </div>
            </div>
        </div>
        <div class="row clients">
            <div class="col-6 col-sm-4 col-md-2">
                <div class="clients__content">
                    <img class="clients__image clients__image--add-padding" src="./../../../assets/img/512x512bb.jpg" alt="">
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-2">
                <div class="clients__content">
                    <img class="clients__image" src="./../../../assets/img/pizza_steak.jpg" alt="">
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-2">
                <div class="clients__content">
                    <img class="clients__image clients__image--add-padding clients__image--circle" src="./../../../assets/img/zharim-kofe-square.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="topography-patter">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="partners__header header-text header-text--spacing">
                    <h2>{{'OurPartners' | translate}}</h2>
                </div>
                <app-partners-slider></app-partners-slider>
            </div>
        </div>
    </div>
</section>