<div class="header">
    <div class="header__logo"></div>
    <div class="header__social-list"></div>
    <div class="header__menu-list"></div>
</div>

<div class="slider">
    <div class="slider__header"></div>
    <div class="slider__slide"></div>
</div>

<div class="about-us">
    <div class="about-us__header"></div>
    <div class="about-us__text"></div>
    <div class="about-us__one-of-work">
        <img src="" alt="">
        <a href="#to this one of work"></a>
    </div>
    <div class="about-us__team-link"></div>
</div>

<div class="projects">
    <div class="projects__header"></div>
    <div class="projects__filter-by-category"></div>
    <div class="projects__link-to-all-projects"></div>
    <div class="projects__slider">
        <div class="slider_slide"></div>
        <div class="slider_slide"></div>
        <div class="slider_slide"></div>
    </div>
</div>

<div class="partners">
    <div class="partners__partner"></div>
    <div class="partners__partner"></div>
    <div class="partners__partner"></div>
    <div class="partners__partner"></div>
</div>

<div class="footer">

</div>


<table class="table" id="profile_Table" matSort (matSortChange)="onSorted($event)">
    <thead>
    <tr class="table_TH">
        <th></th>
        <th></th>
        <th mat-sort-header="candidateBasicInformation.candidateName">Name</th>
        <th mat-sort-header="backgroundCheck.sortValue" matTooltipPosition="above" matTooltip="Background Check">BC</th>
        <th mat-sort-header="candidateBasicInformation.countryAndCity.location">Location</th>
        <th mat-sort-header="candidateBasicInformation.skills">Skills</th>
        <th mat-sort-header="candidateBasicInformation.email">Email</th>
        <th mat-sort-header="candidateBasicInformation.cellPhone">Phone</th>
        <th></th>
    </tr>
    </thead>
    <tbody class="table_tbody" id="profile_TBody">
    <tr class="exception-message" *ngIf="[candidatesService.objectsList|searchCandidates:searchCandidatesByKeyword][0].length === 0">
        <td colspan="9">
            No candidates to show based the selected criteria.
        </td>
    </tr>
    <tr *ngFor="let candidate of candidatesService.objectsList|searchCandidates:searchCandidatesByKeyword" class="profile_TR" [class.highlight_row]="candidatesService.isObjectSelected(candidate.guid)">
        <td class="checkbox_TD">
            <label class="checkbox_custom_label corporateOverCheckbox">
                <input [checked]="candidatesService.isObjectSelected(candidate.guid)"
                       (change)="candidatesService.onCheckBoxChange(candidate, $event.target.checked)" type="checkbox" id="checkboxOne" class="check_ profileCheck" name="profileCheck" />
                <span class="checkmark"></span>
            </label>
        </td>
        <td class="img">
            <app-candidate-profile-picture
                    [candidateGuid]="candidate.guid"
                    [candidateProfilePictureFileName]="candidate.candidateBasicInformation.pictureFileName"
                    [allowHoverAction]="true"
                    class="profile_pic">
            </app-candidate-profile-picture>
        </td>
        <td>
                    <span
                            [innerHTML]="candidate.candidateBasicInformation.candidateName|highlight:searchCandidatesByKeyword"
                            (click)="openCandidateProfile(candidate.guid)"
                            class="profileName goToCandidateView">
                    </span>&nbsp;
            <!-- <ng-container *ngIf="candidate?.candidateBasicInformation?.backgroundCheck_ReportURL; else noLink;">
                <a target="_blank" [href]="candidate?.candidateBasicInformation?.backgroundCheck_ReportURL" class="profile-backround-check"
                    *ngIf="candidate?.candidateBasicInformation?.backgroundCheck_Status" matTooltipPosition="after" [matTooltip]="candidate?.candidateBasicInformation?.backgroundCheck_Status">
                    <img src="content/images/bc.jpg" alt="BC status">
                </a>
            </ng-container>

            <ng-template #noLink>
                <span class="profile-backround-check"
                    *ngIf="candidate?.candidateBasicInformation?.backgroundCheck_Status" matTooltipPosition="after" [matTooltip]="candidate?.candidateBasicInformation?.backgroundCheck_Status">
                    <img src="content/images/bc.jpg" alt="BC status">
                </span>
            </ng-template> -->

            <br/>
            <span *ngIf="candidate.candidateBasicInformation.jobtitle" class="profileOccupation" [innerHTML]="candidate.candidateBasicInformation.jobtitle|highlight:searchCandidatesByKeyword">
                    </span>
        </td>
        <td (click)="openCandidateProfile(candidate.guid, false, candidateProfileTabs.BackgroundCheckHistory)" class="profileLocation"><app-background-check-seal [candidate]=candidate [isHideDownloadLink]="true" [isSmall]="true"></app-background-check-seal></td>
        <td class="profileLocation">
            <span [innerHTML]="candidate.candidateBasicInformation.countryAndCity.location|highlight:searchCandidatesByKeyword"></span>
        </td>
        <td class="profileSkills">
                    <span [innerHTML]="candidate.candidateBasicInformation?.skills | slice:0:20 | highlight:searchCandidatesByKeyword" [matTooltip]="candidate.candidateBasicInformation.skills" matTooltipPosition="before">
        </span>
            <span *ngIf="candidate.candidateBasicInformation.skills && candidate.candidateBasicInformation.skills.length>20">...</span>
        </td>
        <td class="profileEmail">
            <span (click)="openCommunicateBox(candidate)" [innerHTML]="candidate.candidateBasicInformation.email|highlight:searchCandidatesByKeyword"></span>
        </td>
        <td class="profileContact"><span [innerHTML]="candidate.candidateBasicInformation.cellPhone|formatPhoneNumber:'hideIntlCode'|highlight:searchCandidatesByKeyword"></span></td>
        <td class="profileAction">
            <div class="profile_ACS">
                <div class="dropdown" ngbDropdown placement="bottom-right">
                    <i (click)="openCommunicateBox(candidate)" class="fa fa-arrow-left action_icons communication" title="Reply" aria-hidden="true"></i>
                    <i (click)="shareCandidate(candidate)" class="fa fa-arrow-right action_icons" title="Forward" aria-hidden="true"></i>
                    <i (click)="openCandidateProfile(candidate.guid)" class="fa fa-folder-close fol_close"></i>
                    <app-candidates-dropdown-list-actions [candidate]="candidate" [disableCloseBtn]="true"></app-candidates-dropdown-list-actions>
                    <!-- <a id="candidate.id" ngbDropdownToggle class="dropdown-toggle uncheck-other-checkbox">
                        <i class="fa fa-ellipsis-h action_icons icons" title="More.." aria-hidden="true"></i>
                    </a>
                    <ul ngbDropdownMenu aria-labelledby="candidate.id" class="actionMenu">
                        <li class="dropdown-item" data-keyboard="true" (click)="shareCandidate(candidate)"><a><span class="fa fa-share" aria-hidden="true"></span>&nbsp;&nbsp;Share Candidate</a></li>
                        <li class="dropdown-item HideFeature" data-keyboard="true" (click)="openPopup('contact-info')"><a><span class="fa fa-info" aria-hidden="true"></span>&nbsp;&nbsp;Set Contact Information</a></li>
                        <li class="dropdown-item" data-keyboard="true" (click)="openCommunicateBox(candidate)"><a class="communication"><span class="fa fa-comment" aria-hidden="true"></span>&nbsp;&nbsp;Communicate</a></li>
                        <li class="dropdown-item HideFeature" data-keyboard="true" (click)="openPopup('attach-candidate')"><a><span class="fa fa-user" aria-hidden="true"></span>&nbsp;&nbsp;Attach Candidate to Opportunities</a></li>
                        <div class="dropdown-item HideFeature">
                            <li class="divider"></li>
                            <li class="dropdown-item delete_Profile"><a><span class="fa fa-trash" aria-hidden="true"></span>&nbsp;&nbsp;Delete Candidate</a></li>
                            <li class="dropdown-item" data-keyboard="true" (click)="openPopup('attach-to-event')"><a><span class="fa fa-paperclip" aria-hidden="true"></span>&nbsp;&nbsp;Attach candidate to an Event</a></li>
                            <li class="dropdown-item" data-keyboard="true" (click)="openPopup('attach-documents')"><a><span class="fa fa-paperclip" aria-hidden="true"></span>&nbsp;&nbsp;Attach Documents</a></li>
                            <li class="dropdown-item" data-keyboard="true" (click)="openPopup('attach-interview')"><a><span class="fa fa-paperclip" aria-hidden="true"></span>&nbsp;&nbsp;Attach Interviews</a></li>
                            <li class="dropdown-item" data-keyboard="true" (click)="openPopup('set-view-observation')">
                                <a><span class="fa fa-camera" aria-hidden="true"></span>&nbsp;&nbsp;Set \ View  observation</a>
                            </li>
                            <li class="dropdown-item" data-keyboard="true" (click)="openPopup('schedule-event')"><a><span class="fa fa-calendar"></span>&nbsp;&nbsp;Schedule an Event</a></li>
                            <li class="dropdown-item" data-keyboard="true" (click)="openPopup('add-task')"><a><span class="fa fa-tasks" aria-hidden="true"></span>&nbsp;&nbsp;Add Task</a></li>
                        </div>
                    </ul> -->
                </div>
                <span class="deleteIcon HideFeature">
              <a (click)="openCandidateProfile(candidate.guid)">
                <i class="fa fa-folder-open action_icons goToCandidateView" title="candidate view" aria-hidden="true"></i>
              </a>
              <i class="fa fa-trash action_icons delete_Profile" title="Delete" aria-hidden="true"></i>
            </span>
            </div>
        </td>
    </tr>
    </tbody>
</table>