@import '../../../assets/scss/main';

.partners {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

  &__partner {
    max-width: 260px;
    display: block;
    img {
      width: 100%;
      max-width: 180px;
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
    }
    &:hover {
      img {
        filter: none;
      }
    }
  }

  @media (max-width: 768px) {
    &__partner {
      max-width: 50%;
      padding: 12px;
    }
  }
}

.topography-patter {
  padding-bottom: 100px;
  padding-top: 40px;
  background-image: url('#{$base-url}/assets/img/pattern/topography.png');

  @media (max-width: 768px) {
    padding-top: 0;
    padding-bottom: 35px;
  }
}