<section class="retina-size-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="slider">
          <div class="slider__header"></div>
          <app-headline-slider
            *ngIf="currentProject"
            [projectTitle]="currentProject.header"
            [images]="currentProject.images"
            [isPopupAvailable]="true"
            [isInfinite]="false"
            [inProgress]="currentProject.inProgress">
          </app-headline-slider>
        </div>
      </div>
    </div>
    <app-loading class="loading-wrapper" *ngIf="!currentProject"></app-loading>
  </div>
</section>
<section class="">
  <div class="container" *ngIf="currentProject">
    <div class="row">
      <div class="col-12">
        <div class="projects">
          <div class="projects__header header-text header-text--spacing">
            <h2>{{currentProject.header}}</h2>
            <a class="link-more" href="javascript:void(0);" (click)="goBack()">{{'GoBack' | translate}}</a>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-12">
        <div class="project-description">
          <p>{{currentProject.city}}, {{currentProject.date | date}}, {{'Category' | translate}}: <b>{{currentProject.category | translate}}</b></p>
          <p>
            {{currentProject.fullDescription}}
          </p>
        </div>
      </div>
      <div class="col-sm-4 col-12">
        <div class="info-table">
          <h4 class="info-table__headline">{{currentProject.description}}</h4>
          <ul class="info-table__list">
            <li><span>{{'Client' | translate}}:</span>{{currentProject.client}}</li>
            <li><span>{{'Completion' | translate}}:</span> {{currentProject.date | date}}</li>
            <li><span>{{'ProjectType' | translate}}:</span>{{currentProject.projectType}}</li>
            <li><span>{{'Architects' | translate}}:</span>{{currentProject.architects}}</li>
          </ul>
        </div>
        <div class="location-info">
          <h4 class="location-info__headline">{{'Location' | translate}}</h4>
          <div class="location-info__map">
            <agm-map
                    [latitude]="currentProject.position ? currentProject.position.latitude : 46.472764"
                    [longitude]="currentProject.position ? currentProject.position.longitude : 30.7398178"
                    [zoom]="14"
                    [zoomControl]="false"
                    [scrollwheel]="false"
                    [styles]="locationService.googleMapsStyles">
              <agm-marker [latitude]="currentProject.position ? currentProject.position.latitude : 46.472764" [longitude]="currentProject.position ? currentProject.position.longitude : 30.7398178"></agm-marker>
            </agm-map>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-center mb-5 mt-5">
        <a routerLink="/projects-all" class="link-button">{{'ViewOtherProjects' | translate}}</a>
      </div>
    </div>
  </div>
</section>

