<div class="header__social-list">
  <ul class="">
    <li><a href="javascript:void(0);" class="icon social-icon icon-facebook"></a></li>
    <li><a href="javascript:void(0);" class="icon social-icon icon-twitter"></a></li>
    <li><a href="javascript:void(0);" class="icon social-icon icon-instagram"></a></li>
    <li><a href="javascript:void(0);" class="icon social-icon icon-google-plus"></a></li>
    <li><a href="javascript:void(0);" class="icon social-icon icon-pinterest"></a></li>
    <li><a href="javascript:void(0);" class="icon social-icon icon-youtube"></a></li>
  </ul>
</div>