.icon {
  width: 20px;
  height: 20px;
  display: block;
  background-size: cover; }
  .icon-google-plus {
    background: url("../img/social/google-plus-social-logotype.png") center no-repeat;
    background-size: 18px 18px; }
  .icon-facebook {
    background-image: url("../img/social/facebook-logo.png"); }
  .icon-twitter {
    background-image: url("../img/social/twitter-social-logotype.png"); }
  .icon-instagram {
    background-image: url("../img/social/instagram-social-network-logo-of-photo-camera.png"); }
  .icon-pinterest {
    background-image: url("../img/social/pinterest-social-logo.png"); }
  .icon-youtube {
    background-image: url("../img/social/youtube-symbol.png"); }

.header-delimiter {
  width: 0;
  height: 50px;
  position: relative; }
  .header-delimiter:after {
    content: '';
    width: 1px;
    height: 100%;
    background-color: #d2d2d2;
    position: absolute;
    top: 0; }

header {
  border-bottom: solid 1px #d2d2d2; }

.header {
  height: 90px; }
  .header__logo {
    text-transform: uppercase;
    font-weight: 500; }
  .header__menu-button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    outline: none; }
    .header__menu-button:hover, .header__menu-button:focus, .header__menu-button:active {
      outline: none; }
    .header__menu-button:hover {
      cursor: pointer; }
      .header__menu-button:hover .header__menu-button-line {
        background-color: #e41e1b;
        transition: all 0.5s ease; }
  .header__menu-button-line {
    width: 100%;
    height: 3px;
    margin-bottom: 4px;
    display: block;
    background-color: #262626; }
    .header__menu-button-line:last-child {
      margin-bottom: 0; }
  .header__adds-list {
    display: flex;
    align-items: center;
    justify-content: space-around; }
  .header__call-us {
    font-weight: 500;
    font-size: 0.95rem; }
  .header__text-for-call {
    text-transform: uppercase;
    margin-right: 0.5rem;
    color: #e41e1b; }
  .header__back-call {
    color: #262626; }
  .header__social-list ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around; }
    .header__social-list ul li {
      display: inline-block;
      margin: 0 .5rem; }

.slider__slide {
  height: 100%;
  width: 100%;
  height: calc(100vh - 100px);
  max-height: 642px;
  background-image: url("../img/slide3.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  display: block;
  position: relative; }

.slider__slide-content {
  border: solid 3px #ffffff;
  width: 265px;
  padding-left: 65px;
  padding-top: 65px;
  padding-bottom: 65px;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translateY(-50%); }

.slider__slide-headline {
  width: 265px;
  color: #e41e1b;
  display: inline-block; }

.slider__slide-description {
  width: 265px;
  color: #ffffff;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.7); }
