@import "../../../assets/scss/variables";
@import "../../../assets/scss/components";

:host {
  display: flex;
  flex: 1 1 100%;
}

.top-padding-section {
  background-color: lighten($third-black, 2);
  padding-top: 120px;
  width: 100%;

  .active {
    color: $main-red;
  }
  button {
    &:focus {
      outline: none;
    }
  }
  @media (max-width: 576px) {
    padding-top: 90px;
  }
}

.item {
  &__content-wrapper {
    background-color: $main-white;
    padding: 10px;
    display: flex;
    margin-bottom: 20px;
    &.odd {
      flex-direction: row-reverse;
      .item__content {
        align-items: flex-start;
        text-align: left;
        padding-right: 5px;
        padding-left: 0;
      }
    }
    &--alt {
      flex-direction: column;
      &.odd {
        flex-direction: column;
        .item__content {
          padding-right: 50px;
          padding-left: 50px;
        }
      }

      &:hover {
        .item__content {
          visibility: visible;
          transition: all .3s ease;
        }
        .item__image-wrapper {
          .item__image {
            opacity: .5;
            transition: all .3s ease;
          }
        }
      }
      .item__content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 50px;
        visibility: hidden;
        .link-button {
          transition: none;
        }
      }
    }
  }
  &__content {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    text-align: right;
    padding-left: 5px;
    .link-button {
      padding: 15px;
      max-width: 190px;
      margin-top: auto;
    }
  }
  &__image-wrapper {
    position: relative;
    overflow: hidden;
    height: 360px;
    display: flex;
    flex: 0 0 70%;
  }
  &__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    max-width: 100%;
  }
  // Has to be with mixins
  @media (max-width: 992px) {
    &__image-wrapper {
      height: 300px;
      flex: 0 0 66%;
    }
  }
  @media (max-width: 768px) {
    &__image-wrapper {
      height: 240px;
    }
    &__content {
      .headline-text {
        font-size: $middle-font;
      }
      .description-text {
        font-size: $main-font;
      }
      .link-button {
        max-width: none;
        width: 100%;
      }
    }
  }
  @media (max-width: 540px) {
    &__image-wrapper {
      margin-bottom: .5rem;
    }
    &__content-wrapper {
      flex-direction: column;
      .item__content {
        padding: 20px 50px 50px;
      }
      &.odd {
        flex-direction: column;
        .item__content {
          text-align: left;
          padding: 20px 50px 50px;
        }
      }
    }
  }
  @media (max-width: 392px) {
    &__image {
      min-height: auto;
      max-width: none;
      max-height: 100%;
    }
  }
}
