
<section class="top-padding-section">
    <div class="container p-sm-0">
        <div class="row">
            <div class="col-12" *ngFor="let project of allProjects; let i = index">
                <div class="item__content-wrapper" [class.odd]="i % 2 == 0 ">
                    <a class="item__image-wrapper" [routerLink]="['/project-detail', project.id]">
                        <img src="{{project.cover}}" alt="" class="item__image">
                    </a>
                    <div class="item__content">
                        <h3 class="headline-text">{{project.header}}</h3>
                        <h6 class="date mb-2">{{project.city}}</h6>
                        <p class="description-text mb-2">{{project.description}}</p>
                        <a class="link-button" [routerLink]="['/project-detail', project.id]">View project</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>