@import './mixins';
.icon {
    width: 13px;
    height: 13px;
    display: block;
    background-size: cover;
    &-googlePlus {
        @include icon-google-plus($main-black);
    }
    &-facebook {
        @include icon-facebook($main-black);
    }
    &-twitter {
        @include icon-twitter($main-black);
    }
    &-instagram {
        @include icon-instagram($main-black);
    }
    &-pinterest {
        @include icon-pinterest($main-black);
    }
    &-youtube {
        @include icon-youtube($main-black);
    }
    &-behance {
        @include icon-behance($main-black);
    }
    &-expand {
        @include icon-expand($main-black);
    }
    &-open-in-modal {
        @include icon-open-in-modal($static-main-white);
    }
}
.theme-dark {
    .icon {
        width: 13px;
        height: 13px;
        display: block;
        background-size: cover;
        &-googlePlus {
            @include icon-google-plus($static-main-white);
        }
        &-facebook {
            @include icon-facebook($static-main-white);
        }
        &-twitter {
            @include icon-twitter($static-main-white);
        }
        &-instagram {
            @include icon-instagram($static-main-white);
        }
        &-pinterest {
            @include icon-pinterest($static-main-white);
        }
        &-youtube {
            @include icon-youtube($static-main-white);
        }
        &-behance {
            @include icon-behance($static-main-white);
        }
        &-expand {
            @include icon-expand($static-main-white);
        }
        &-open-in-modal {
            @include icon-open-in-modal($static-main-white);
        }
    }
    img[class*='services__image'] {
        filter: none;
    }
}
.theme-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.logo-cutted {
    display: inline-block;
    overflow: hidden;
    position: relative;
    &:before {
        content: '';
        width: 2rem;
        height: 2rem;
        background-color: $main-white;
        position: absolute;
        top: -1rem;
        left: -1.2rem;
        display: block;
        transform: rotate(45deg);
        transform-origin: center;
    }
    &:after {
        content: '';
        width: 2rem;
        height: 2rem;
        background-color: $main-white;
        position: absolute;
        bottom: -1.3rem;
        right: -1.3rem;
        display: block;
        transform: rotate(45deg);
        transform-origin: center;
    }
}
.retina-size-wrapper{
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}
.header-delimiter {
    width: 0;
    height: 50px;
    position: relative;
    &:after {
        content: '';
        width: 1px;
        height: 100%;
        background-color: $main-grey;
        position: absolute;
        top: 0;
    }

    @media (max-width: 992px) {
        height: 30px;
    }
}

.header-text {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;

    h2 {
        margin: 0;
        padding: 0;
        font-size: $middle-font;
        font-weight: $fat-weight;
        text-transform: uppercase;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            background-color: $main-red;
            width: 65%;
            height: 1px;
            top: calc(1.125rem + 2px);
            left: 0;
        }
    }
    a {
        font-size: $xs-font;
        text-transform: capitalize;
        color: $secondary-black;
    }

    &--spacing {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    &--black {
        color: $static-main-black;
    }

    @media (max-width: 576px) {
        flex-wrap: wrap;
        a {
            width: 100%;
        }
    }
    @media (max-width: 768px) {
        &--spacing {
            margin-top: 35px;
            margin-bottom: 35px;
        }
    }
}

.link-more {
    line-height: 1.9;
    color: $main-black;

    &:hover {
        color: $main-red;
        text-decoration: none;
    }

    &.is-active {
        color: $main-red;
    }
    &--footer {
        color: $static-main-white;
        &:not([href]):not([tabindex]) {
            color: $static-main-white; 
        }
    }
}

.headline-text {
    font-size: $xl-font;
    font-weight: $fat-weight;
    text-transform: uppercase;
    margin: 0;

    &--white {
        color: $main-white;
    }
    &--red {
        color: $main-red;
    }
    &--shadow {
        text-shadow: 0 0 3px rgba(0,0,0,.7);
    }
    &--spaced {
        letter-spacing: 2px;
        margin-bottom: 1rem;
    }
    &--regular-h5 {
        font-size: $middle-font;
        letter-spacing: 0px;
        line-height: normal;
        color: $main-black;
    }
    &--footer {
        font-size: $middle-font;
        letter-spacing: 0px;
        line-height: normal;
        color: $static-main-white;
    }

    @media (max-width: 576px) {
        font-size: $middle-font;
    }
}

.city {
    font-size: $small-font;
    font-weight: $bold-weight;
    text-transform: capitalize;
    padding: 0;
    margin: 0;
}
.date {
    font-size: $xs-font;
    font-weight: $normal-weight;
    text-transform: capitalize;
    line-height: 1;
    padding: 0;
    margin: 0;
}
.description-text {
    font-size: $middle-font;
    line-height: 1.2;
    padding: 0;
    margin: 0;
    &--uppercase {
        text-transform: uppercase;
    }
    &--light {
        font-weight: $normal-weight;
    }
}

.link-to-project {
    display: block;
    padding: 5px 10px;
    position: absolute;
    text-transform: capitalize;
    color: $main-red;
    font-size: $middle-font;
    font-weight: $bold-weight;
    line-height: 1;
    bottom: 30px;
    right: 30px;
    background-color: $main-white;
    transition: background 0.5s ease;

    &:before {
        content: '';
        width: 0;
        height: 2px;
        background-color: $main-red;
        bottom: 3px;
        left: -5px;
        display: block;
        position: absolute;
        transition: width 0.5s ease;
    }
    &:hover {
        background-color: transparent;
        color: $main-white;
        &:before {
            width: calc(100% + 10px);
        }
    }
}
.theme-toggle {
    &__btn {
        border: 0;
        padding: 0;
        z-index: 12;
        width: 20px;
        height: 20px;
        margin: auto;
        margin-right: 5px;
        margin-top: 5px;
        @include icon-brightness-dark();
        &--dark  {
            @include icon-brightness-light();
        }
    }
    &__triangle {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        z-index: 11;
        &:after{
            position: absolute;
            bottom: 0;
            height: 0;
            width: 0;
            right:0;
            border: 25px solid transparent;
            border-top-color: $main-white;
            border-right-color: $main-white;
            content: "";
        }
    }
    &__wrapper {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 11;
    }
}
.link-button {
    display: inline-flex;
    justify-content: center;
    padding: 15px 30px;
    text-align: center;
    background-color: $main-white;
    border: solid 1px $main-black;
    color: $main-black;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    transition: all 0.3s ease;

    &--small {
        padding: 6px 12px;
    }

    &--accent-red {
        background-color: $main-red;
        color: $static-main-white;
    }

    &:hover {
        background-color: $main-white;
        color: $main-red;
        text-decoration: none;
        border-color: $main-black;
    }

    @media (max-width: 992px) {
        padding: 12px 24px;
    }
    @media (max-width: 768px) {
        font-size: $xs-font;
    }
}

.filter {
    &__list{
        display: flex;
        padding: 0;
        margin: auto;
        margin-right: 40px;
        align-items: flex-end;
    }
    &__item{
        display: inline-block;
        list-style: none;
        margin: auto 10px;
        text-transform: capitalize;
        font-weight: $bolder-weight;
        font-size: $middle-font;
        line-height: 1;
        &:hover {
            color: $main-red;
            cursor: pointer;
        }
        &.is-active {
            color: $main-red;
        }
    }

    @media (max-width: 576px) {
        &__list {
            margin-right: 0;
        }
        &__item {
            &:last-child {
                margin-right: 0;
            }
        }
    }
    @media (max-width: 425px) {
        &__list {
            position: absolute;
            flex-direction: column;
            right: 0;
            top: 0;
        }
        &__item {
            display: block;
            margin: 0;
        }
    }
}