.slick {
  &-dots {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 30px auto;
    padding: 0;
    position: absolute;
    width: 100%;

    li {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      margin: 0 4px;

      button {
        background-color: transparentize($secondary-black, 0.2);
        border-radius: 50%;
        font-size: 0;
        line-height: 0;
        color: transparent;
        border: none;
        outline: none;
        padding: 1px 6px;
        width: 12px;
        height: 12px;
        &:hover {
          cursor: pointer;
        }
      }

      &.slick-active {
        button {
          background-color: $main-white;
        }
      }
    }
  }
  &-dots--red {
    li {
      &.slick-active {
        button {
          background-color: $main-red;
        }
      }
    }
  }

  &-slider {
    .slick-slide {
      outline: none;
    }
  }
}

@media (max-width: 575px) {
  .slick {
    &-dots {
      li {
        button {
          height: 20px;
          width: 20px;
        }
      }
    }
  }
}

.slider__slides-wrapper {
  .slick {
    &-dots {
      bottom: 1px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      padding-right: 15px;
      Padding-left: 15px;
      justify-content: center;
    }
  }
}