@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,latin-ext');

* {
  font-family: 'Open Sans', sans-serif;
}
a:hover {
  text-decoration: none;
}
//Base url
$base-url: 'https://manufactura-d8bb1.firebaseapp.com/';

//Colors
$main-black: #262626;
$main-red: #e41e1b;
$main-grey: #d2d2d2;
$main-white: #ffffff;

$secondary-black: #3D3D3D;

$shadow-color: rgba(0,0,0,.7);

//Font-sizes
$xs-font: 0.75rem;   //12px
$small-font: 0.875rem;   //14px
$main-font: 1rem;     //16px
$middle-font: 1.125rem; //18px
$large-font: 1.5rem;    //24px
$xl-font: 2rem;         //32px
$huge-font: 3rem;   //48px

// Typography
.text-headline {
  font-weight: 800;
  text-transform: uppercase;
}