header {
    border-bottom: solid 1px #d2d2d2;
}
.header {
    min-height: 90px;

    &__logo {
        text-transform: uppercase;
        color: $main-red;
        font-weight: 600;
    }

    &__menu-button {
        width: 30px;
        height: 30px;
        background-color: transparent;
        border: none;
        outline: none;
        padding: 0;

        &:hover, &:focus, &:active {
            outline: none;
        }
        &:hover {
            cursor: pointer;

            .header__menu-button-line {
                background-color: $main-red;
                transition: all 0.5s ease;
            }
        }
    }

    &__menu-button-line {
        width: 100%;
        height: 3px;
        margin-bottom: 4px;
        display: block;
        background-color: $main-black;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__adds-list {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &__call-us {
        font-weight: 500;
        font-size: 0.95rem;
    }

    &__text-for-call {
        text-transform: uppercase;
        margin-right: 0.5rem;
        color: $main-black;
    }

    &__back-call {
        color: $main-black;
    }

    &__social-list {
        ul {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-around;

            li {
                display: inline-block;
                margin: 0 .5rem;
            }
        }
    }

    @media (max-width: 576px) {
        &__adds-list {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    @media (max-width: 767px) {
        &__logo {
            text-align: center;
        }
    }
    @media (max-width: 992px) {
        &__adds-list {
            justify-content: space-between;
        }
    }
}

.slider {

    &__slide {
        width: 100%;
        height: calc(100vh - 100px);
        min-height: 280px;
        max-height: 642px;
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
        display: block;
        position: relative;
        outline: none;
    }

    &__slide-content {
        border: solid 3px $main-white;
        width: 265px;
        padding-left: 65px;
        padding-top: 65px;
        padding-bottom: 65px;
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translateY(-50%);
    }

    &__slide-background {
        max-width: 100%;
        visibility: hidden;
    }

    &__slide-headline {
        width: 265px;
        color: $main-red;
        display: inline-block;
    }

    &__slide-description {
        width: 265px;
        color: $main-white;
        text-shadow: 0 0 4px $shadow-color;
    }
}

.about-us {
    display: flex;
    flex-wrap: wrap;

    &__header {
        width: 100%;
    }
    &__text {
        width: 50%;
        padding: 5%;
        font-size: $main-font;

        p:last-child {
            margin-bottom: 0;
        }
    }
    &__one-of-work {
        width: 50%;
        padding-left: 15px;
    }
    &__team-link {
        width: 100%;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    &__one-of-work {
        background-size: cover;
        background-position: center;
        transform: translateX(25px);
        animation: smallTranslate 2s ease;
    }
    &__one-of-work-background {
        display: none;
    }

    @media (max-width: 768px) {
        flex-direction: column;

        &__text {
            width: 100%;
        }
        &__one-of-work {
            width: 100%;
            min-height: 300px;
            transform: translateX(0);
            animation: none;
        }
    }
}

@keyframes smallTranslate {
    0%      {
        transform: translateX(-25px);
    }
    100%    {
        transform: translateX(25px);
    }
}