<div class="slider__slides-wrapper">
  <div class="slider__slide">
    <div class="slider__slide-content">
      <h2 class="slider__slide-headline">Build your dreams</h2>
      <p class="slider__slide-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem ipsa perspiciatis repellendus!</p>
    </div>
    <img class="slider__slide-background" src="../../../assets/img/original/1.jpg" alt="">
  </div>

  <div class="slider__slide">
    <div class="slider__slide-content">
      <h2 class="slider__slide-headline">Modern design of business</h2>
      <p class="slider__slide-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem ipsa perspiciatis repellendus!</p>
    </div>
    <img class="slider__slide-background" src="../../../assets/img/original/2.jpg" alt="">
  </div>
</div>