@import '../../../assets/scss/main';

.slider {
  position: relative;
  margin-right: -15px;
  margin-left: -15px;

  &__slide {
    width: 100%;
    //height: calc(100vh - 15px);
    height: 100vh;
    min-height: 335px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: $third-black;
    background-size: auto 100%;
    display: block;
    outline: none;
    transition: height 0.3s ease;
    position: relative;
    &--cover {
      background-position: 25%;
      background-size: cover;
      &.slick-active {
        // animation: myMove 8s 1 ease-in-out;
        // animation-fill-mode: forwards;
      }
    }
    &--setMaxWidth {
      max-height: 642px;

      @media (max-width: 767.98px) {

      }
    }
    &--in-progress {
      filter: grayscale(100%);
    }
    @keyframes myMove {
      from { background-position: 25% 0; }
      to { background-position: 45% 25%; }
    }
    &--faded {
      &::before {
        // background-color: rgba(0,0,0,.33);
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;

      }
    }
  }

  &__slide-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
    //background-size: cover;
    //filter: blur(8px);
  }
  &__slide-height-toggle-wrapper {
    //display: flex;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 30px auto;

    .btn-toggle {
      display: inline-flex;
      cursor: pointer;
      outline: none;
      justify-content: center;
      align-items: center;
      list-style: none;
      background-color: $main-white;
      border-radius: 50%;
      border: none;
      box-shadow: none;
      flex: 0 0 auto;
      transition: all 0.15s linear;
      height: 35px;
      width: 35px;

      &:hover {
        .icon {
          &-expand {
            @include icon-expand($main-red);
          }
        }
        .icon {
          &-open-in-modal {
            @include icon-open-in-modal($main-red);
          }
        }
      }
    }
    button {
      transform: translateY(30px);
      outline: none;
    }
  }
  &__slide-loading-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-100px);
    left: 0;
    right: 0;
    margin: 30px auto;
  }

  &__slide-content {
    //border: solid 3px $main-red;
    width: 50%;
    max-width: calc(1140px - 10%);
    padding-top: 35px;
    padding-bottom: 35px;

    @media (max-width: 576px) {
      width: calc(100% - 30px);
      border-color: transparent;
    }
  }

  &__slide-background {
    max-width: 100%;
    visibility: hidden;
    //position: absolute;
    //height: 100%;
    //left: 50%;
    //top: 0;
    //transform: translateX(-50%);
  }

  &__slide-headline {
    min-height: 122px;
    min-width: 290px;
    max-width: 340px;
    //margin: auto;
    color: $static-main-white;
    display: block;
    font-size: $xl-font;
    font-weight: $fat-weight;
    text-align: center;
    text-transform: uppercase;
    span {
      animation: blink 800ms step-start 0s infinite;
      -webkit-animation: blink 800ms step-start 0s infinite;
      width: 1px;
      height: 3.1rem;
      margin-left: 0.1rem;
      transform: translateY(.5rem);
      background-color: white;
      display: inline-block;
    }
    @media (min-width: 768px) {
      font-size: $huge-font;
      text-align: left;
    }
    @keyframes blink {
      50% {
        opacity: 0.0;
      }
    }
    @-webkit-keyframes blink {
      50% {
        opacity: 0.0;
      }
    }
  }

  &__slide-description {
    max-width: 400px;
    min-width: 290px;
    color: $static-main-white;
    // text-shadow: 0 0 4px $shadow-color;
    text-align: center;
    margin: auto;
    @media (min-width: 768px) {
      text-align: left;
      margin: 0;
    }
  }
  &__arrow-btn {
    display: inline-flex;
    justify-content: center;
    padding: 6px 12px;
    text-align: center;
    background-color: $main-white;
    border: solid 1px transparent;
    border-radius: 50%;
    color: $main-black;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease;

    &:hover {
      background-color: $secondary-black;
      color: $main-white;
      text-decoration: none;
      border-color: $main-grey;
    }

    position: absolute;
    outline: none!important;
    bottom: 20px;
    z-index: 1;
    &--next {
      right: 30px;
    }
    &--previous {
      right: 75px;
    }
    @media (min-width: 576px) {
      &--next {
        right: calc((100vw - 540px) / 2);
      }
      &--previous {
        right: calc((100vw - 440px) / 2);
      }
    }
    @media (min-width: 768px) {
      &--next {
        right: calc((100vw - 720px) / 2);
      }
      &--previous {
        right: calc((100vw - 630px) / 2);
      }

    }
    @media (min-width: 992px) {
      &--next {
        right: calc((100vw - 960px) / 2);
      }
      &--previous {
        right: calc((100vw - 870px) / 2);
      }

    }
    @media (min-width: 1200px) {
      &--next {
        right: calc((100vw - 1110px) / 2);
      }
      &--previous {
        right: calc((100vw - 1020px) / 2);
      }
    }
  }
}


.modal {
  overflow: scroll;
  background-color: $shadow-color;

  &.show {
    display: block;
  }

  &-header {
    border-color: $main-grey;
    .close {
      color: $main-black;
    }
  }
  &-footer {
    border-color: $main-grey;
  }
  &-body {
    text-align: center;
  }
  &-content {
    background-color: $main-white;

    &__image {
      max-width: 100%;
      max-height: 100vh;
    }
  }
}
