@import '../../../assets/scss/main';

.slider {
  position: relative;
  margin-right: -15px;
  margin-left: -15px;

  &__slide {
    width: 100%;
    height: calc(100vh - 15px);
    max-height: 642px;
    //height: 100vh;
    min-height: 335px;
    background-repeat: no-repeat;
    background-position: 25%;
    background-size: cover;
    display: block;
    position: relative;
    outline: none;
  }

  &__slide-content {
    border: solid 3px $main-white;
    width: 50%;
    max-width: calc(1140px - 10%);
    padding-top: 35px;
    padding-bottom: 35px;
    position: absolute;
    top: calc(50% + 60px);
    left: 25%;
    transform: translateY(-50%);

    @media (max-width: 576px) {
      left: 15px;
      border-color: transparent;
    }
  }

  &__slide-background {
    max-width: 100%;
    visibility: hidden;
  }

  &__slide-headline {
    min-width: 290px;
    max-width: 300px;
    margin: auto;
    color: $main-white;
    display: block;
    font-size: $huge-font;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
  }

  &__slide-description {
    max-width: 400px;
    min-width: 290px;
    color: $main-white;
    text-shadow: 0 0 4px $shadow-color;
    text-align: center;
    margin: auto;
  }
  &__arrow-btn {
    display: inline-flex;
    justify-content: center;
    padding: 6px 12px;
    text-align: center;
    background-color: $main-white;
    border: solid 1px transparent;
    color: $main-red;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease;

    &:hover {
      background-color: $secondary-black;
      color: $main-white;
      text-decoration: none;
      border-color: $main-grey;
    }

    position: absolute;
    outline: none!important;
    bottom: 30px;
    z-index: 1;
    &--next {
      right: 30px;
    }
    &--previous {
      right: 75px;
    }
    @media (min-width: 576px) {
      &--next {
        right: calc((100vw - 540px) / 2);
      }
      &--previous {
        right: calc((100vw - 440px) / 2);
      }
    }
    @media (min-width: 768px) {
      &--next {
        right: calc((100vw - 720px) / 2);
      }
      &--previous {
        right: calc((100vw - 630px) / 2);
      }

    }
    @media (min-width: 992px) {
      &--next {
        right: calc((100vw - 960px) / 2);
      }
      &--previous {
        right: calc((100vw - 870px) / 2);
      }

    }
    @media (min-width: 1200px) {
      &--next {
        right: calc((100vw - 1140px) / 2);
      }
      &--previous {
        right: calc((100vw - 1050px) / 2);
      }
    }
  }
}
