@import '../../../assets/scss/main';

footer {
  padding: 80px 0;

  *::selection {
    background: transparentize($main-red, 0.2);
    color: $main-white;
  }

  @media (max-width: 768px) {
    padding: 35px 0;
  }

}

.footer {
  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;

      a {
        font-size: $middle-font;
        padding: 10px 0;
      }
    }
  }

  &__headline {
    padding-bottom: 15px;
  }

  &__logo {
    text-transform: lowercase;
    color: $main-red;
    font-weight: 700;
    font-size: $large-font;
    line-height: 1;

    .logo-cutted {
      &:before, &:after {
        background-color: $main-grey;
      }
      &:before {
        left: -1.5rem;
      }
      &:after {
        right: -1.5rem;
      }
    }
  }
  &__copyright {
    text-align: left;
    font-size: $middle-font;
    line-height: $large-font;

    .link-more {
      line-height: normal;
    }

    @media (max-width: 576px) {
      font-size: $main-font;
    }
  }
}

.footer-background {
  background-color: $main-grey;
}