@import '../../../assets/scss/main';

footer {
  padding: 30px 0;
}

.footer {
  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
    }

    &.language-switch {
      @media (max-width: 576px) {
        li {
          display: block;
          text-align: right;
        }
      }
    }
  }

  &__logo {
    text-transform: lowercase;
    color: $main-red;
    font-weight: 700;
    font-size: $large-font;
    line-height: 1;

    .logo-cutted {
      &:before, &:after {
        background-color: $main-grey;
      }
      &:before {
        left: -1.5rem;
      }
      &:after {
        right: -1.5rem;
      }
    }
  }
  &__copyright {
    text-align: right;
    line-height: 1.9;
    font-size: $xs-font;
  }
}

.footer-background {
  background-color: $main-grey;
}