<section class="footer-background">
  <footer class="retina-size-wrapper footer">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-5 col-lg-4">
          <h3 class="headline-text headline-text--footer  pb-3">Quick links</h3>
          <ul class="pb-2 pb-sm-5">
            <li><a class="link-more" routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/">Home</a></li>
            <li><a class="link-more" routerLinkActive="is-active" routerLink="/about">About us</a></li>
            <li><a class="link-more" routerLinkActive="is-active" routerLink="/projects-all">All projects</a></li>
            <li><a class="link-more" routerLinkActive="is-active" routerLink="/contacts">Contacts</a></li>
            <li><a class="link-more" routerLinkActive="is-active" routerLink="/career">Career</a></li>
            <li><a class="link-more" routerLinkActive="is-active" routerLink="/location">Our location</a></li>
            <li><a class="link-more" routerLinkActive="is-active" routerLink="/help">Help</a></li>
            <li><a class="link-more" routerLinkActive="is-active" routerLink="/edit-content">Edit content</a></li>
          </ul>
        </div>
        <div class="col-12 col-sm-6 col-md-5 col-lg-4">
          <h3 class="headline-text headline-text--footer pb-3">Localization</h3>
          <ul class="language-switch pb-2 pb-sm-5">
            <li><a class="link-more is-active" routerLink="eng">ENG</a></li>
            <li><a class="link-more" routerLink="ua">UA</a></li>
            <li><a class="link-more" routerLink="ru">RU</a></li>
          </ul>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-4 pb-5">
          <h3 class="headline-text headline-text--footer pb-3">Social links</h3>
          <app-social-list [data]="socialList" className="footer"></app-social-list>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="footer__copyright">
            © Copyright 2010-2018, Manufactura Comp. All Rights Reserved. |
            <a class="link-more is-active" routerLinkActive="is-active" routerLink="/privacy-policy">Privacy and policy</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</section>
