footer {
  padding: 60px 0;
}

.footer {
  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
    }

    &.language-switch {
      @media (max-width: 1200px) {

        li {
          display: inline-block;
          margin-right: 15px;
        }
      }
    }
  }

  &__logo {
    text-transform: lowercase;
    color: $main-red;
    font-weight: 700;
    font-size: $large-font;
    line-height: 1;

    .logo-cutted {
      &:before, &:after {
        background-color: $main-grey;
      }
      &:before {
        left: -1.5rem;
      }
      &:after {
        right: -1.5rem;
      }
    }
  }
  &__copyright {
    line-height: 1.9;
  }

  &__copyright, &__logo, ul {
    margin-bottom: 30px;
  }
}

.footer-background {
  background-color: $main-grey;
}