<section class="footer-background">
  <footer class="retina-size-wrapper footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-3 col-lg-3 col-xl">
          <div class="footer__logo">
                        <span class="logo-cutted">
                            manufactura
                        </span>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3 col-lg-3 col-xl">
          <div class="footer__copyright">
            &copy; Manufactura 2017
            <br class="d-none d-sm-block">
            All Right Reserved
          </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl">
          <ul>
            <li><a class="link-more" href="javascript:void(0)">Site map</a></li>
            <li><a class="link-more" href="">Privacy and policy</a></li>
            <li><a class="link-more" href="">Help</a></li>
          </ul>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl">
          <ul>
            <li><a class="link-more" href="javascript:void(0)">Our location</a></li>
            <li><a class="link-more" href="javascript:void(0)">Career</a></li>
            <li><a class="link-more" href="javascript:void(0)">About</a></li>
            <li><a class="link-more" href="javascript:void(0)">Contact</a></li>
          </ul>
        </div>
        <div class="col-12 col-sm-4 col-md-3 col-lg col-xl">
          <ul class="language-switch">
            <li><a class="link-more is-active" href="javascript:void(0)">ENG</a></li>
            <li><a class="link-more" href="javascript:void(0)">UA</a></li>
            <li><a class="link-more" href="javascript:void(0)">RU</a></li>
          </ul>
        </div>
        <div class="col-12 col-sm-4 col-md-3 col-lg col-xl">
          <div class="header__social-list">
            <ul class="">
              <li><a href="javascript:void(0);" class="icon social-icon icon-facebook"></a></li>
              <li><a href="javascript:void(0);" class="icon social-icon icon-twitter"></a></li>
              <li><a href="javascript:void(0);" class="icon social-icon icon-instagram"></a></li>
              <li><a href="javascript:void(0);" class="icon social-icon icon-google-plus"></a></li>
              <li><a href="javascript:void(0);" class="icon social-icon icon-pinterest"></a></li>
              <li><a href="javascript:void(0);" class="icon social-icon icon-youtube"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
</section>
